
/* NAVBAR CSS Styles */
nav {
    background: #4a4e69;
    position: fixed;
    width: 100%;
}

nav a {
    text-decoration: none !important;
    color: white !important;
    font-size: 1.3rem;
}

nav a {
    display: block;
}

nav a:hover {
    background: #0081A7;
}






/* WELCOME SECTION CSS Styles */
#welcome-section {
    height: 100vh;
    background: #6d597a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    font-size: 3rem;
}

#welcome-section p {
    font-size: 1.5rem;
}





/* PROJECTS SECTION CSS Styles */

#projects {
    height: 100vh;
    background: #B5838D;
    color: white;
}

#projects h3 {
    font-size: 2rem;
    border-bottom: 0.2rem solid white;
}

#projects a {
    text-decoration: none;    
}

p.project-title {
    background: #14213d;
    padding: 0.7rem;
}

.project-title {
     color: white !important;
     font-size: 1rem;
     text-align: center;
}

.project-box:hover {
     opacity: 0.8;
}





/* CONTACT SECTION CSS Styles */

#contact {
    height: 100vh;
    background: #6d597a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact h3 {
    font-size: 3rem;
}

#contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-details{
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}





/* FOOTER CSS Styles */

 footer {
    background: #6d597a;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
 

/* MEDIA QUERY */

@media (max-width: 767.98px) { 
    
    #projects {
        height: auto;
    }
    #navbar ul{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
    }

    #welcome-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav a {
        font-size: 1rem !important;
    }

    #welcome-section h1 {
        font-size: 2rem;
    }

    #welcome-section p {
        font-size: 0.8rem;
    }

    #projects h3 {
        font-size: 1.5rem;
        border-bottom: none;
        text-align: center;
    }
    
    .project-box {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
    }

    #contact h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    #contact p {
        font-size: 0.9rem;
    }
 }




